<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.ajna.services.com">
            CoPanel
          </a>
        </li>
        <li>
          <a href="https://www.ajna.services.com/about-us">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, powered by
      <a href="https://www.ajna.services.com" target="_blank">Ajna Services Pvt. Ltd</a> Inspiring the Intelligence.
    </div>
  </div>
</footer>
